body {
  margin: 0px;
  /* height: 100vh; */
  /*Might not need */
  font-family: Roboto;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 450px;
  padding-right: 450px;
  padding-bottom: 100px;
  padding-top: 20px;
  height: 400px;

}

.header-top {
  display: flex;
  /* border: 1px solid cyan; */
}

.header-bottom {
  display: flex;
  /* border: 1px solid cyan; */
}

.logo {
  font-size: 24px;
  font-weight: 900;
  /* border: 1px solid gold; */
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  margin-left: auto;
  display: flex;
  gap: 20px;
  /* border: 1px solid gold;*/
}

a {
  text-decoration: none;
}

.header-description,
.header-image {
  flex-basis: 200px;
  flex-grow: 1;
}

.header-description {
  /* border: 1px solid gold; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-image {
  /* border: 1px solid gold;*/
  box-sizing: border-box;
  background-color: #848088;
  height: 225px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0px;
  font-size: 48px;
  font-weight: 900;
  max-width: 400px;
  /* border: 1px solid red; */
}

p {
  margin: 0px;
}

.header-description p,
a {
  color: #e5e7eb;
  font-size: 18px;
}

.header-description p {
  max-width: 450px;
}

.header-signup-button {
  align-self: flex-start;
  border: none;
}

.header-signup-button,
.call-to-action-signup-button {
  background: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  font-size: 18px;
  border-radius: 7px;
  padding: 8px 25px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
  gap: 50px;
}

.main-content h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin: 0px;
}

.list-of-images {
  display: flex;
  gap: 50px;
}

.captioned-image {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content-image {
  border: 3px solid #3882f6;
  border-radius: 10px;
  width: 175px;
  height: 175px;
  flex-shrink: 0;
}

.caption {
  color: #4b4b4b;
  width: 175px;
  font-size: 18px;
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  background: #e5e7eb;
  padding-top: 125px;
  padding-bottom: 75px;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  width: 775px;
  align-self: center;
}

.quote-author {
  font-size: 18px;
  font-weight: 600;
  width: 760px;
  align-self: flex-end;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 200px;
}

.call-to-action-content {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 7px;
  background: #3882f6;
  width: 1000px;
  padding: 40px 100px;
}

.call-to-action-signup-button {
  border: 2px solid #f9faf8;
  margin-left: auto;
}

.call-to-action-text h3 {
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

.call-to-action-text {
  color: #f9faf8;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 30px 0px;
}