body {
  margin: 0px;
  /* height: 100vh; */
  /*Might not need */
  font-family: Roboto;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 100px;
  padding-top: 20px;
  height: 400px;

}

.header-top {
  display: flex;
  /* border: 1px solid cyan; */
}

.header-bottom {
  display: flex;
  /* border: 1px solid cyan; */
}

.logo {
  font-size: 24px;
  font-weight: 900;
  /* border: 1px solid gold; */
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  margin-left: auto;
  display: flex;
  gap: 20px;
  /* border: 1px solid gold;*/
}

a {
  text-decoration: none;
}

.header-description,
.header-image {
  flex-basis: 200px;
  flex-grow: 1;
}

.header-description {
  /* border: 1px solid gold; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-image {
  /* border: 1px solid gold;*/
  box-sizing: border-box;
  background-color: #848088;
  height: 225px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0px;
  font-size: 48px;
  font-weight: 900;
  max-width: 400px;
  /* border: 1px solid red; */
}

p {
  margin: 0px;
}

.header-description p,
a {
  color: #e5e7eb;
  font-size: 18px;
}

.header-description p {
  max-width: 450px;
}

.header-signup-button {
  background: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border-radius: 7px;
  align-self: flex-start;
  border: none;
  padding: 8px 25px;
}