body {
  margin: 0px;
  /* height: 100vh; */  /*Might not need */
  font-family: Roboto;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 100px;
  padding-top: 20px;
}

.header-top {
  display: flex;
  border: 1px solid cyan;
}

.header-bottom {
  display: flex;
  border: 1px solid cyan;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  /* border: 1px solid gold; */
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  margin-left: auto;
  display: flex;
  gap: 20px;
  /* border: 1px solid gold;*/
}

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}
